<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PridePic | Adding LGBTQIA+ Flair to Your Pfps</title>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

	<!-- Metadata for Google -->
	<meta name="description" content="Create and customize LGBTQIA+ themed profile pictures easily with PridePic.">

	<!-- Cover image for Discord or other platforms -->
	<meta property="og:image" content="https://cdn.discordapp.com/attachments/1042401378338865196/1251269549001543902/output204.png?ex=666df713&amp;is=666ca593&amp;hm=1576cd232201112d1471643c70e5c3c9505a42f7d0b171de85ea576decdc68d6">

	<!-- Additional general settings -->
	<meta name="theme-color" content="#abcdef"> <!-- Define a theme color for browsers -->
	<meta name="robots" content="index, follow"> <!-- Control how search engines index your content -->
	<meta name="author" content="Mixy">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script>
		function previewImage() {
			const file = document.getElementById('image').files[0];
			const reader = new FileReader();
			reader.onload = function (e) {
				document.getElementById('imagePreview').src = e.target.result;
				document.getElementById('imagePreviewContainer').style.display = 'block';
			};
			reader.readAsDataURL(file);
		}
	</script>
</head>
<body>
	<div class="container">
		<h1>LGBTQIA+ Pride Pfp Generator</h1>
		<form method="post" enctype="multipart/form-data">
			<div class="file-input-container">
				<input type="file" name="image" id="image" accept="image/*" required onchange="previewImage()">
				<label for="image">Choose Pfp</label>
			</div>
			<div id="imagePreviewContainer" class="image-preview-container">
				<img id="imagePreview" src="#" alt="Image Preview">
			</div>
			<br>
			<div class="form-row">
				<div class="form-group">
					<label for="flag">Choose Flag:</label>
					<select name="flag" id="flag">
						{% for flag, colors in flags.items() %}
							<option value="{{ flag }}">{{ flag.capitalize() }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="border_size">Border Size:</label>
					<input type="number" name="border_size" id="border_size" value="20" min="1">
				</div>

				<div class="form-group">
					<label for="mode">Mode:</label>
					<select name="mode" id="mode">
						<option value="static">Static</option>
						<option value="gradient">Gradient</option>
					</select>
				</div>

				<div class="form-group">
					<label for="orientation">Orientation:</label>
					<select name="orientation" id="orientation">
						<option value="horizontal">Horizontal</option>
						<option value="vertical">Vertical</option>
					</select>
				</div>
			</div>

			<button type="submit">Generate</button>
			<br>
			<sub>Made with 💖 by <a href="https://github.com/Mixtre" target="blank">github.com/Mixtre</a></sub>
		</form>
	</div>
</body>
</html>
